In [27]:
num1 = "ali"
a = 25
deneme = 25
print(deneme)

25

In [28]:
city = "Patates"
print(city[::-1]) #tat

setataP

In [29]:
new_str = "    abcde     "
len(new_str)

14

In [30]:
var_str = "In God we Trust"
var_str = var_str.lower()

print(var_str)

in god we trust

In [31]:
number = 4545454

print(str(number).startswith("4"))

True

In [32]:
z = "my name is Yusufaaaaaa"
print(z.replace("a", "e", 999))
print(z.capitalize())
print(z.title())

my neme is Yusufeeeeee
My name is yusufaaaaaa
My Name Is Yusufaaaaaa

In [33]:
a_list = ["a","b","c","d"]
joined_str = "".join(a_list)
print(joined_str)

text = "S0d0me and G0m0re"
print(text.replace("0", "o", 5))
metin = "dsadsa  sdad         dsa             "
print(metin.lstrip("ds"), "here")

abcd
Sodome and Gomore
adsa  sdad         dsa              here

In [34]:
v = "Henrya"
print(v.rstrip("ay"))

Henr

In [35]:
print("5")

5

In [36]:
animals = ["kedi", "köpek", "balık", "tilki", "zürafa","ayı","kuş","sincap","at"]
print(animals[::2])

['kedi', 'balık', 'zürafa', 'kuş', 'at']

In [37]:
def city(deneme, continent="Europe"):
    print(deneme, ' in ')
city("London")

London  in

In [38]:
D = {1: 1,
     2: '2',
     '1': 1,
     '2': 3}
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

In [39]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)
print(a[0:2])

[1, 3, 6, 10]
[1, 2]

In [40]:
example = "snow world"
print("{}".format(example[4:7]))

 wo

In [41]:
print("abcxyyzxyzxzxyy".endswith("c", 0, 3))

True

In [42]:
if True:
    print("hi")

hi

In [43]:
meat = True
bread = True
lettuce = None
pepper = True
grocery = True

hamburder = (meat and bread and grocery) and (lettuce or pepper)

if hamburder:
    print("Afiyet şifa olsun")
else: 
    print("Nasip kısmet")

Afiyet şifa olsun

In [44]:
empty_seat = 14
if empty_seat>3:
    print("büyük")

büyük

In [45]:
a = set("TWELVE PLUS ONE")
b = set("ELEVEN PLUS TWaO")
print(a)
print(b)
if a == b: 
    print("Equal!")
else:
    print("Not equal!")

{'E', 'T', 'P', 'V', 'L', 'W', 'S', 'N', 'O', 'U', ' '}
{'E', 'T', 'P', 'V', 'L', 'W', 'S', 'N', 'a', 'O', 'U', ' '}
Not equal!

In [46]:
course = "  ClArusWay   "
if course.strip().title() == "Clarusway":
    print("OK")
else:
    print("not ok")

OK

In [50]:
num = 25

if num < 0:
    print(f'{num} is negative')
elif num == 0:
    print("It is zero")
else:
    print(f'{num} is positive')

25 is positive

In [51]:
num1 = int(input("Please enter a number:"))
num2 = int(input("Please enter a number:"))
num3 = int(input("Please enter a number: "))

In [2]:
number = 0
while number <6:
    print(number)
    number += 1
print("Now")

0
1
2
3
4
5
Now

In [10]:
age = input("Enter you age")

while not age.isnumeric():
    print("Please enter correct data")
    age = input("Enter you age")

print(f"Your age is {age}")

Please enter correct data
Please enter correct data
Please enter correct data
Please enter correct data
Please enter correct data
Your age is 45

In [16]:
my_number = 15
while True:
    your_number = int(input("Enter your number"))

    if your_number > my_number:
        print("Lower")
    elif your_number < my_number:
        print("higher")
    else:
        print("Aferinnn")
        break

Aferinnn

In [27]:
a = "İstanbul, ankara, muş"
word_list = a.split(", ")
print(word_list)

i=0
longest=0
while i<len(word_list):
     if len(word_list[i]) > longest:
        longest = len(word_list[i])
     i += 1
print(longest)

['İstanbul', 'ankara', 'muş']
8

In [15]:
x = round(12.5)
print(x)

12.546545454567894

In [56]:
b_list = ["ali","veli","henry"]

for index, name in enumerate(b_list,20):
    print(index,name)

20 ali
21 veli
22 henry

In [20]:
a = ["Hilal", False, 1,2]
b = [1,2,3,4,0]

In [26]:
def slicer(*args):
    even = [x for x in args if x%2==0]
    odd = [x for x in args if x%2]
    # for i in args:
    #     if i % 2:
    #         odd.append(i)
    #     else:
    #         even.append(i)
    return odd, even
        
odd, even = slicer(6,7,4,3,7,9,5)
print(odd)
print(even)

[7, 3, 7, 9, 5]
[6, 4]

In [37]:
def animals(**kwargs):
    print(kwargs)
    for key,value in kwargs.items():
        print(key," is ", value)

animals(a='Tiger', b='Elephant', c='Bear')

{'a': 'Tiger', 'b': 'Elephant', 'c': 'Bear'}
a  is  Tiger
b  is  Elephant
c  is  Bear

In [39]:
def orginizer(**kwargs):
    name_list = []
    age_list = []
    for name,age in kwargs.items():
        name_list.append(name)
        age_list.append(name)
    return name_list,age_list
print(orginizer(henry=28,cooper=25))

(['henry', 'cooper'], ['henry', 'cooper'])

In [40]:
family = [1,2,3]
print(*family)

1 2 3

In [43]:
print((lambda x: x**2)(2))

4

In [44]:
avarage = (lambda x,y: (x+y)/2)(3,5)
print(avarage)

4.0

In [48]:
iterable = "abcdef"
reverse_itr = (lambda x: x[::-1])(iterable)
print(reverse_itr)

fedcba

In [49]:
a_list = [1,2,3,4,5]

for i in a_list:
    print(i, ":", (lambda i: "odd" if i%2 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd

In [61]:
iterablae = [1,2,3,4,5]
# res = list(map(lambda x: x**2, iterablae))
# square = list(res)

print(res)

TypeError: 'list' object is not callable

In [66]:
first_ten = [0,1,2,3,4,5,6,7,8,9]
odd = list(filter(lambda x: x%2, first_ten))
print(odd)

TypeError: 'list' object is not callable